body {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
}

h1 {
    font-size: large;
    padding-left: 50px;
}

h2 {
    padding-left: 50px;
}

h3 {
    padding-left: 50px;
}

.title {
    font-size: 60px;
    text-align: center;
}

p {
    padding: 0px 50px 50px 50px;

}

img{

    height: auto;
    padding: 25px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card {
    margin: 20px 50px;
    background: rgb(230, 240, 240);
    border-radius: 7px;
    
}

div nav {
    padding-left: 50px; 
    padding-bottom: 50px;
}

.nav_item {
    color: black;
}

.nav_item .current {
    background-color: black;
    color:white;
}